* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  text-decoration: underline;
  font-weight: bold; }

.text-primary {
  color: var(--primary); }

.text-hint {
  color: var(--hint); }

span {
  font-size: 1.6rem;
  font-family: var(--font-family); }

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto / 350px auto; }
  @media (max-width: 480px) {
    .grid-container {
      grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto / auto; } }

header {
  grid-area: header;
  padding: 8rem 5rem;
  text-align: center;
  background: linear-gradient(to right, var(--primary) 20%, var(--light) 75%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 480px) {
    header {
      padding: 5rem 2rem; } }
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem; }
    @media (max-width: 480px) {
      header h1 {
        font-size: 4rem; } }
  header p {
    letter-spacing: 0.5rem; }

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--primary); }
  .picture img {
    border-radius: 5px;
    border: 2px solid #333; }

aside {
  grid-area: aside;
  background: linear-gradient(to bottom, var(--primary), var(--light));
  padding: 5rem;
  min-height: 2000px; }
  @media (max-width: 480px) {
    aside {
      min-height: 1800px; } }
  aside .block {
    margin-bottom: 5rem; }
    aside .block h3 {
      margin: 2rem 0;
      font-size: 1.6rem;
      text-decoration: underline; }
    aside .block p {
      margin: 1rem 0;
      font-style: italic; }
    aside .block iframe {
      margin-top: 2rem;
      align-items: center; }
    aside .block .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative; }
      aside .block .bar-skill .bar-skill-progress-html {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 80%;
        background: var(--primary); }
      aside .block .bar-skill .bar-skill-progress-scss {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 50%;
        background: var(--primary); }
      aside .block .bar-skill .bar-skill-dot-html {
        position: absolute;
        height: 10px;
        width: 10px;
        background: #333;
        left: calc(80% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }
      aside .block .bar-skill .bar-skill-dot-scss {
        position: absolute;
        height: 10px;
        width: 10px;
        background: #333;
        left: calc(50% - 5px);
        top: -2.5px;
        transform: rotate(45deg); }
    aside .block .circle-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      color: #333; }
      aside .block .circle-container .flag {
        width: 20rem;
        height: 20rem; }
      aside .block .circle-container i {
        font-size: 2rem;
        margin: 0 1rem; }
    aside .block .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 2rem 0; }
      aside .block .social-container a span {
        padding: 1rem 1rem 1rem 1rem;
        font-style: italic;
        font-size: 1.6rem; }
      aside .block .social-container .icone {
        font-size: 2.5rem; }
        aside .block .social-container .icone:hover {
          color: var(--primary); }

main {
  grid-area: main;
  padding: 5rem;
  background: #f8f8ff; }
  main h2 {
    margin-bottom: 4rem; }
  main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }
  main .experience {
    display: flex;
    margin: 6rem 0; }
    main .experience .timeline {
      flex: 10%;
      text-align: center;
      color: var(--hint);
      padding-right: 3rem;
      border-right: 1px solid #ddd; }
      main .experience .timeline p {
        margin: 0; }
    main .experience .content {
      flex: 90%;
      padding: 0 1rem; }
      main .experience .content h3 {
        margin: 0; }
      main .experience .content p {
        margin: 0; }

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  grid-area: footer;
  padding: 5rem;
  background: linear-gradient(to left, var(--primary) 35%, var(--light) 50%); }
  @media (max-width: 480px) {
    footer {
      background: linear-gradient(to top, var(--primary), var(--light)); } }
  footer h2 {
    margin-bottom: 3rem; }
  footer form {
    display: flex;
    align-items: center; }
  footer .prefix {
    padding: 0.25rem 2rem;
    font-size: 3.5rem;
    background: var(--primary);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  footer .btn {
    border: 0;
    cursor: pointer;
    background: none; }
    footer .btn:hover {
      opacity: 0.8;
      transition: all 0.2s; }
    footer .btn .postfix {
      padding: 0.5rem 2rem;
      font-size: 3rem;
      background: var(--primary);
      color: white;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  footer input {
    outline: 0;
    min-width: 400px;
    padding: 1rem 2rem;
    border: 0;
    line-height: 2rem; }
  footer::placeholder {
    color: var(--primary); }
